body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #aaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num-pad {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  padding: 30px;
}

.btns {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  padding: 30px;
}
