body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #aaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.base-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
}

.btns-project {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 10px;
  gap: 5px;
}

.btn-active {
  background-color: #222;
  color: #fff;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.num-pad {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  padding: 30px;
  justify-content: center;
}

.btns {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  padding: 30px;
  justify-content: center;
}

.close-btn {
  align-self: end;
}

.content {
  align-self: center;
}

.display {
  display: flex;
  justify-content: center;
}

.battle-tracker {
  display: flex;
  flex-direction: column;
}

.monster {
  display: grid;
  grid-template-columns: 40px 80px 60px 60px 100px;
  gap: 10px;
  padding-top: 2px;
}

.input-monster {
  width: 30px;
}

.form-battletracker {
  display: flex;
  gap: 5px;
}

.sort-option {
  padding: 10px 0px;
}
